body {
	padding-top: 70px;
}

.bootstrap-select.btn-group:not (.input-group-btn ), .bootstrap-select.btn-group[class*="span"]{
	margin: 0 !important;
}

span.glyphicon-link {
	font-size: 1.5em;
}

.ui-datepicker {
	z-index: 10 !important;
}